In [ ]:
import requests
from bs4 import BeautifulSoup
import csv

# Function to get and parse the HTML content
def get_parsed_html(url):
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')
    return soup

# Function to extract the title of the Wikipedia page
def extract_title(soup):
    title = soup.find(id="firstHeading").get_text()
    return title

# Function to extract the content of the Wikipedia page
def extract_content(soup):
    content = {}
    current_heading = None  # To keep track of the current header (h2, h3)

    # Find headings and paragraphs
    for element in soup.find_all(['h2', 'h3', 'p']):
        if element.name in ['h2', 'h3']:
            current_heading = element.get_text().strip()  # Set the current heading
            content[current_heading] = []  # Initialize the list of paragraphs for this heading
        elif element.name == 'p' and current_heading:
            # Add the paragraph under the current heading
            paragraph = element.get_text().strip()
            if paragraph:  # Ensure it's not an empty paragraph
                content[current_heading].append(paragraph)

    return content

# Function to extract all Wikipedia links from the page
def extract_wikipedia_links(soup):
    links = []
    for a_tag in soup.find_all('a', href=True):
        href = a_tag['href']
        if href.startswith('/wiki/') and not ':' in href:
            full_url = f"https://en.wikipedia.org{href}"
            links.append(full_url)
    return links

# Main function to scrape the data and write to a CSV file
def scrape_wikipedia_to_csv(url, filename):
    # Get the parsed HTML content of the page
    soup = get_parsed_html(url)

    # Extract the title, content, and links
    title = extract_title(soup)
    content = extract_content(soup)
    links = extract_wikipedia_links(soup)

    # Write the extracted data to a CSV file
    with open(filename, mode='w', newline='', encoding='utf-8') as file:
        writer = csv.writer(file)

        # Write the title as the first row
        writer.writerow(['Title', title])
        writer.writerow([])  # Empty row for separation

        # Write the headings and their respective paragraphs
        writer.writerow(['Heading', 'Paragraphs'])
        for heading, paragraphs in content.items():
            for paragraph in paragraphs:
                writer.writerow([heading, paragraph])

        writer.writerow([])  # Empty row for separation

        # Write the links
        writer.writerow(['Wikipedia Links'])
        for link in links:
            writer.writerow([link])

# Function to display the contents of the CSV file
def display_csv_content(filename):
    with open(filename, mode='r', encoding='utf-8') as file:
        reader = csv.reader(file)
        for row in reader:
            print(row)

# Example usage: scrape the "Web scraping" Wikipedia page and display the CSV content
scrape_wikipedia_to_csv("https://en.wikipedia.org/wiki/Web_scraping", "wikipedia_data.csv")
display_csv_content("wikipedia_data.csv")

In [ ]:
import requests #sending https requests
from bs4 import BeautifulSoup

#function to parse html of the web page
def getpage (link, timeout):
  attempts = 1
  maxattempts = timeout * 60 #set max num of attemptd in seconds (timeout is in min, *60)
  while True:
    try:
      page = requests.get(link)
      soup = BeautifulSoup(page.content, 'html.parser')
      print("sucessfully connected")
      return soup
    #if connection error or timeout occurs, catch these exception
    except (requests.ConnectionError, requests.ConnectTimeOut) as exp:
      print("error")
      attempts+=1
      #check if the number of attemptd had exceeded maxattempts print errors
      if attempts <= maxattempts:
        continue
      else:
        print("error")
        return None
link = "https://en.wikipedia.org/wiki/Python_"
mins= 1
getpage(link,mins)

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
link = 'https://datatables.net/examples/data_sources/dom.html'
req = requests.get(link)
soup = BeautifulSoup(req.content, 'html.parser')
#find the table element content using its tag
table = soup.find('table',{'id':'example'})
#create an empty list to store the rows
data = []

#find all rows within the table body
for row in table.tbody.find_all('tr'):
  cols = row.find_all('td') #get table data
  cols = [col.text.strip() for col in cols]#extraxt the text from each cell
  data.append(cols)

df = pd.DataFrame(data, columns = ['Name', 'Position', 'Office', 'Age', 'Start date', 'Salary'])
sort = df.sort_values(by='Name')
print(sort)

                   Name                       Position         Office Age  \
4            Airi Satou                     Accountant          Tokyo  33
24       Angelica Ramos  Chief Executive Officer (CEO)         London  47
2            Ashton Cox        Junior Technical Author  San Francisco  66
18        Bradley Greer              Software Engineer         London  41
27       Brenden Wagner              Software Engineer  San Francisco  28
5    Brielle Williamson         Integration Specialist       New York  61
42           Bruno Nash              Software Engineer         London  38
22         Caesar Vance              Pre-Sales Support       New York  21
50         Cara Stevens                Sales Assistant       New York  46
3          Cedric Kelly    Senior Javascript Developer      Edinburgh  22
12      Charde Marshall              Regional Director  San Francisco  36
8         Colleen Hurst           Javascript Developer  San Francisco  39
19             Dai Rios                 Personnel Lead      Edinburgh  35
56         Donna Snider               Customer Support       New York  27
23         Doris Wilder                Sales Assistant         Sydney  23
45         Finn Camacho               Support Engineer  San Francisco  47
28          Fiona Green  Chief Operating Officer (COO)  San Francisco  48
1       Garrett Winters                     Accountant          Tokyo  63
33         Gavin Cortez                    Team Leader  San Francisco  22
25          Gavin Joyce                      Developer      Edinburgh  42
17        Gloria Little          Systems Administrator       New York  59
13        Haley Kennedy      Senior Marketing Designer         London  43
51      Hermione Butler              Regional Director         London  47
6       Herrod Chandler                Sales Assistant  San Francisco  59
37         Hope Fuentes                      Secretary  San Francisco  41
36      Howard Hatfield                 Office Manager  San Francisco  51
40     Jackson Bradshaw                       Director       New York  65
10          Jena Gaines                 Office Manager         London  30
20     Jenette Caldwell               Development Lead       New York  30
49      Jennifer Acosta    Junior Javascript Developer      Edinburgh  43
26       Jennifer Chang              Regional Director      Singapore  28
53      Jonas Alexander                      Developer  San Francisco  30
52           Lael Greer          Systems Administrator         London  21
34       Martena Mccray             Post-Sales support      Edinburgh  46
55        Michael Bruce           Javascript Developer      Singapore  29
15        Michael Silva             Marketing Designer         London  66
30       Michelle House         Integration Specialist         Sydney  37
41         Olivia Liang               Support Engineer      Singapore  64
16            Paul Byrd  Chief Financial Officer (CFO)       New York  64
32    Prescott Bartlett               Technical Author         London  27
11          Quinn Flynn                   Support Lead      Edinburgh  22
7        Rhona Davidson         Integration Specialist          Tokyo  55
43      Sakura Yamamoto               Support Engineer          Tokyo  37
46        Serge Baldwin               Data Coordinator      Singapore  64
54          Shad Decker              Regional Director      Edinburgh  51
29            Shou Itou             Regional Marketing          Tokyo  20
9           Sonya Frost              Software Engineer      Edinburgh  23
31           Suki Burks                      Developer         London  53
14  Tatyana Fitzpatrick              Regional Director         London  19
44          Thor Walton                      Developer       New York  61
0           Tiger Nixon               System Architect      Edinburgh  61
39       Timothy Mooney                 Office Manager         London  37
35         Unity Butler             Marketing Designer  San Francisco  47
38       Vivian Harrell           Financial Controller  San Francisco  62
21           Yuri Berry  Chief Marketing Officer (CMO)       New York  40
47        Zenaida Frank              Software Engineer       New York  63
48       Zorita Serrano              Software Engineer  San Francisco  56

    Start date      Salary
4   2008-11-28    $162,700
24  2009-10-09  $1,200,000
2   2009-01-12     $86,000
18  2012-10-13    $132,000
27  2011-06-07    $206,850
5   2012-12-02    $372,000
42  2011-05-03    $163,500
22  2011-12-12    $106,450
50  2011-12-06    $145,600
3   2012-03-29    $433,060
12  2008-10-16    $470,600
8   2009-09-15    $205,500
19  2012-09-26    $217,500
56  2011-01-25    $112,000
23  2010-09-20     $85,600
45  2009-07-07     $87,500
28  2010-03-11    $850,000
1   2011-07-25    $170,750
33  2008-10-26    $235,500
25  2010-12-22     $92,575
17  2009-04-10    $237,500
13  2012-12-18    $313,500
51  2011-03-21    $356,250
6   2012-08-06    $137,500
37  2010-02-12    $109,850
36  2008-12-16    $164,500
40  2008-09-26    $645,750
10  2008-12-19     $90,560
20  2011-09-03    $345,000
49  2013-02-01     $75,650
26  2010-11-14    $357,650
53  2010-07-14     $86,500
52  2009-02-27    $103,500
34  2011-03-09    $324,050
55  2011-06-27    $183,000
15  2012-11-27    $198,500
30  2011-06-02     $95,400
41  2011-02-03    $234,500
16  2010-06-09    $725,000
32  2011-05-07    $145,000
11  2013-03-03    $342,000
7   2010-10-14    $327,900
43  2009-08-19    $139,575
46  2012-04-09    $138,575
54  2008-11-13    $183,000
29  2011-08-14    $163,000
9   2008-12-13    $103,600
31  2009-10-22    $114,500
14  2010-03-17    $385,750
44  2013-08-11     $98,540
0   2011-04-25    $320,800
39  2008-12-11    $136,200
35  2009-12-09     $85,675
38  2009-02-14    $452,500
21  2009-06-25    $675,000
47  2010-01-04    $125,250
48  2012-06-01    $115,000

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

def get_parsed_html(url):
  response = requests.get(url)
  soup = BeautifulSoup(response.content, 'html.parser')
  return soup

#Function to extreact a specific table by its index
def extract_table(soup, table_index):
  tables = soup.find_all('table')#finds all 'table' elements in the parsed html
  if len(tables) > table_index:#check if the requested table index exists within the list
    table = tables[table_index]#selects the tables based in the index provided
    return table
  else:
    print(f"table index {table_index} is out of range")
    return None

#Function to convert a beautifulsoup table to df
def table_to_df(table):
#initialise an empty list to store table rows
  rows = []
#initialise an empty list to store table column headers
  headers = []
#get headers if ther exist
  header_row = table.find_all('th') #find all 'th' (table header')elements in the table
  if header_row:#if headers are found
    headers = [header.get_text().strip() for header in header_row]#extract text from each header and add it to the list
#get all rows
  for tr in table.find_all('tr'): #iiterates through each 'tr'(table row) in the table
    cells = tr.find_all(['td', 'th']) #find all 'td'(table data) or 'th'(table headers) in the table rows
    row = [cell. get_text().strip() for cell in cells] #exctract and strp text for each cell
#adjust rows to match the header length
#if the row has fewer cols than the headers
    if len(row)< len(headers):
      row.extend([None]*(len(headers)-len(row)))# fill the missing cols with None
    elif len(row)> len(headers):
      row = row[:len(headers)] #cut the row to match the number of the headers
    rows.append(row)
#convert to df
  if headers: #exit
    df=pd.DataFrame(rows, columns=headers)
  else:
    df=pd.DataFrame(rows)
  return df

#main function to scrape and display a specific table
def display_specific_table(url, table_index):
  soup = get_parsed_html(url)
  table = extract_table(soup, table_index)

  if table: #found
    df = table_to_df(table) #convert the table to df
    print(df)

url = "https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)"
table_index = 2
display_specific_table (url, table_index)

     Country/Territory   IMF[1][13]  World Bank[14]  United Nations[15]  \
0    Country/Territory   IMF[1][13]  World Bank[14]  United Nations[15]
1             Forecast         Year        Estimate                Year
2                World  109,529,216            2024         105,435,540
3        United States   28,781,083            2024          27,360,935
4                China   18,532,633       [n 1]2024          17,794,782
..                 ...          ...             ...                 ...
207           Kiribati          311            2024                 279
208              Palau          308            2024                 263
209   Marshall Islands          305            2024                 284
210              Nauru          161            2024                 154
211             Tuvalu           66            2024                  62

      Forecast         Year   Estimate  Year Estimate  Year
0         None         None       None  None     None  None
1     Estimate         Year       None  None     None  None
2         2023  100,834,796       2022  None     None  None
3         2023   25,744,100       2022  None     None  None
4    [n 3]2023   17,963,170  [n 1]2022  None     None  None
..         ...          ...        ...   ...      ...   ...
207       2023          223       2022  None     None  None
208       2023          225       2022  None     None  None
209       2023          279       2022  None     None  None
210       2023          147       2022  None     None  None
211       2023           59       2022  None     None  None

[212 rows x 10 columns]